<%= form_for([@article, @article.comments.new], :html => {:class => 'uk-form'}) do |f| %>
					<div>Leave a comment:</div>
                    <form role="uk-form">
                        <div class="uk-form-row">
                                <%= f.text_area :body, :class =>"uk-width-1-1", :rows => "3" %>
                        </div>
                        <div class="uk-form-row">
                        <button type="submit" class="uk-button">Comment</button>
                        </div>
                    </form>
<% end %>