<%= form_tag(categories_path,  method: "get", class: "uk-form") do %>
    <div class="uk-form-row">
      <input type="text" name="search[name]" placeholder="Name">
      <%= submit_tag("Search", class: "uk-button") %>
    </div>
  <% end %>